<mat-card>
  <mat-card-header>
    <mat-card-title>
      <strong>{{dialogBox.title}}</strong>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{dialogBox.message}}</p>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions align="end">
      <button mat-stroked-button (click)="onClickDecline()"
        cdkFocusInitial>{{dialogType == "OK/CANCEL" ? 'Cancel' : 'No'}}</button>
      <button mat-button color="warn" (click)="onClickAccept()">{{dialogType == "OK/CANCEL" ? 'OK' : 'Yes'}}</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>