<mat-card>
  <mat-card-header>
    <mat-card-title>
      Sign Up!
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form autoComplete="off">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="inputData.username" type="text" name="username" placeholder="username"
          id="username" required>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput name="pass" placeholder="" id="pass" autoComplete="off" [(ngModel)]="inputData.pass"
          [type]="hidePasswordValue ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hidePasswordValue = !hidePasswordValue"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswordValue">
          <mat-icon>{{hidePasswordValue ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="inputData.email" type="email" name="email" placeholder="Email" id="email" required>
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Birth date</mat-label>
        <input matInput [(ngModel)]="inputData.birth" type="date" name="birth" placeholder="birth" id="birth" required>
        <mat-icon matSuffix>calendar_month</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-stroked-button type="button" (click)="onSubmitForm()" class="button-profile">Sign Up</button>
    <button mat-stroked-button type="button" (click)="onClickCancel()" class="button-profile"
      color="warn">Cancel</button>
  </mat-card-actions>
</mat-card>