.user {
  &-card {
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-title {
      padding: 2rem;
      text-align: center;
      font-weight: bold;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      border: none;
      box-shadow: none;
      background-color: transparent;
    }

    &-body {
      padding: 1.5rem 0;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: none;
}
