<mat-card>
  <mat-card-header>
    <mat-card-title>
      Login!
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form autoComplete="off">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="inputData.username" type="text" name="username" placeholder="username"
          id="username" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="inputData.pass" type="password" name="pass" placeholder="" id="pass"
          autoComplete="off" required>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button type="button" (click)="onSubmitForm()" class="button-confirmation">Login</button>
  </mat-card-actions>
</mat-card>