form {
  display: flex;
  flex-direction: column;
}

mat {
  &-card {
    display: flex;
    flex-direction: column;

    &-content {
      display: flex;
      flex-direction: column;
    }
    &-title {
      text-align: center;
      font-weight: bold;
      padding: 1rem;
    }
  }
}
