<div class="page-main">
  <div class="page-header">
    <h1>Welcome to Musto-Flix</h1>
  </div>
  <div class="page-animation">
    <img src="../../../assets/img/giphy.gif" alt="Movie Popcorn GIF By Angry Birds"
      title="Movie Popcorn GIF By Angry Birds" width="300">
    <p>
      <a href="https://giphy.com/gifs/angrybirds-3o7rc0qU6m5hneMsuc" target="_blank" rel="noopener noreferrer">via
        GIPHY</a>
    </p>
  </div>
  <div class="page-actions">
    <button mat-raised-button (click)="onOpenUserLoginDialog()" style="margin-left: 10px;"
      color="default">Login</button>
    <button mat-raised-button (click)="onOpenUserRegistrationDialog()" style="margin-left: 10px;" color="default">Sign
      Up</button>
  </div>
</div>