// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$musto-flix-angular-primary: mat.define-palette(mat.$indigo-palette);
$musto-flix-angular-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$musto-flix-angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$musto-flix-angular-theme: mat.define-light-theme(
  (
    color: (
      primary: $musto-flix-angular-primary,
      accent: $musto-flix-angular-accent,
      warn: $musto-flix-angular-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($musto-flix-angular-theme);

/* You can add global styles to this file, and also import other style files */

$color-snackbar-success: #1a6b1e;
$color-snackbar-failure: #6e1610;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.green {
  &-snackbar {
    background: $color-snackbar-success !important;
    color: white !important;

    button {
      background-color: $color-snackbar-success !important;
      color: white !important;
      border: none !important;
    }
  }
}

.red {
  &-snackbar {
    background: $color-snackbar-failure !important;
    color: white !important;

    button {
      background-color: $color-snackbar-failure !important;
      color: white !important;
      border: none !important;
    }
  }
}
